*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: montserrat;
  background-color: black;
}
nav{
  background-color: transparent;
  position: fixed;
  top: 0px;
  height: 80px;
  width: 70%;
  right: 0;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #ff1b1b;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black;
    top: 95px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #001fe6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
section{
  background: url(bg1.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}

.hello{
  position: fixed;
  top: 0;
  height: 150px;
  left: 0px;
  width: 250px;
}

.index_image {
position: relative;
top: 110px;
left: 550px;
height: 150px;
width: 300px;
}

h1 {
  font-family: "Arial Rounded MT", sans-serif;
  text-decoration: white;
  font-size: 36px;
  font-weight: 600;
  color: white;
  text-align: justify;
  position: fixed;
  top: 290px;
  left: 350px;
  text-shadow: 0 0 10px whitesmoke;
  font-weight: bold;  
} 

h2 {
  font-family: "Arial Rounded MT", sans-serif;
  text-decoration: white;
  font-size: 36px;
  font-weight: 600;
  color: white;
  text-align: justify;
  position: fixed;
  top: 150px;
  left: 20px;
  text-shadow: 0 0 10px whitesmoke;
  font-weight: bold;  
}

h3{
font-family: "Arial Rounded MT", sans-serif;
text-decoration: rgb(255, 255, 255);
font-size: 20px;
font-weight: 100;
color: rgb(255, 0, 0);
text-shadow: 0 0 10px whitesmoke;
text-align: justify;
position: fixed;
top: 305px;
left: 750px;
font-weight: bold;  
}

p{
font-family: "Arial", sans-serif;
text-decoration: white;
font-size: 10px;
font-weight: bold;  
color: white;
text-align: justify;
position: absolute;
top: 355px;
left: 350px;
text-overflow: inherit;
}

p1{
  font-family: "Arial", sans-serif;
  text-decoration: white;
  font-size: 15px;
  font-weight: bold;  
  color: white;
  text-align: justify;
  position: absolute;
  top: 230px;
  left: 20px;
  right: 80px;
  padding: 0px;
  text-overflow: inherit;
  }

.indextext{
border: 3px solid black;
font-size: 15px;
padding: 0px;
width: 60%;
}

.footer {
position: fixed;
bottom: 0;
left: 0;
right: 0;
background-color:black; 
color: white;
text-align: center; 
padding: 10px 0; 
display: flex; 
justify-content: center; 
}

/* Style the copyright text */
.copyright {
font-size: 17px; /* Adjust the font size as needed */
}

/* Style the terms and conditions link */
.terms a {
color:blue; /* Link color */
text-decoration: none; /* Remove underline from the link */
font-weight: bold; /* Make the link bold */
}

/* Add spacing between copyright and terms (optional) */
.terms {
margin-left: 5px; /* Adjust the margin as needed */
}